@{
    ViewData["Title"] = "Home Page";
}

<h1 class="text-center">Employee Manager</h1>

<table class="table table-bordered table-striped text-center mt-5" id="home-table">
    <thead>
        <tr>
            <td colspan="3">Scheduled Hours For Each Shift</td>
        </tr>
        <tr>
            <td class="w-33">Shift</td>
            <td class="w-33">Start Time</td>
            <td class="w-33">End Time</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1st Shift</td>
            <td>6:00 AM</td>
            <td>2:00 PM</td>
        </tr>
        <tr>
            <td>2nd Shift</td>
            <td>2:00 PM</td>
            <td>10:00 PM</td>
        </tr>
        <tr>
            <td>3rd Shift</td>
            <td>10:00 PM</td>
            <td>6:00 AM</td>
        </tr>
    </tbody>
</table>
